@charset "utf-8";
/* CSS Document */

html,body
{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	font-size: 62.5%;
	background-color: #E6E7E9;
	background-repeat: repeat-x;
	background-position: top;
	padding: 0px;
	text-align: center;
	background-image: url(pics/bg1.jpg);
	margin: 0px;
}

body a:link, body a:visited, body a:hover, body a:active {
	color: inherit;
	text-decoration: none;
}

#container {
	background: rgb(255, 255, 255) transparent; /* default fallback */
	background: rgba(255, 255, 255, 0.51); /* nice browsers */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF); /* IE 6/7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)"; /* IE8 */
	height: 100%;
	width: 1014px;
	padding: 12px;
}

#content {
	height: 100%;
	width: 990px;
	background-color: #FFF;
	box-shadow: 0px 0px 2px #888888;
}

#contentTable {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.header{
	margin: 0px;
	height: 204px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	background-color: #1f3a68;
	background-image: url(/_images/headerBG-01c.jpg);
	padding-right: 73px;
	padding-left: 73px;
	background-repeat: no-repeat;
	background-position: center bottom;
}



.contentCell {
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #1f3a68;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #1F3A68;
	padding-bottom: 50px;
	padding-top: 50px;
}

#headerTable {
}

.logoCell {
	width: 210px;
}

.pageTitleCell {
	padding-top: 10px;


}

.icpeacHeading {
	font-family: 'OswaldBold', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	line-height: 1em;
	display: block;
	padding-bottom: 24px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #5A79B8;
	padding-left: 40px;
}

.icpeacHeadingDark {
	color: #8CA8CC;
}

.icpeacHeadingMed {
	color: #A4B9D2;
}

.icpeacHeadingLight {
	color: #C4D3E3;
}

.icpeacDate {
	font-family: 'OswaldBook', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #C8D7EE;
	display: block;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #5A79B8;
	padding-left: 40px;
}

.icpeacDateSpace {
	padding-left: 5px;
	padding-right: 5px;
}
#contentTable .links{
	margin: 0px;
	width: 210px;
	padding-top: 0px;
	padding-bottom: 100px;
	padding-left: 73px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	text-decoration: none;
	color: #646668;
	text-transform: uppercase;
}

#contentTable .links .current {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	list-style-type: none;
	width: 160px;
	padding-left: 5px;
	color: #FFFFFF;
	background-color: #6891ba;
	font-family: 'PTSansNarrowRegular', sans-serif;
}

#contentTable .links a:link, #contentTable .links a:visited{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	list-style-type: none;
	width: 160px;
	padding-left: 5px;
	font-family: 'PTSansNarrowRegular', sans-serif;
}

#contentTable .links a:hover, #contentTable .links a:active{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	list-style-type: none;
	width: 160px;
	padding-left: 5px;
	color: #FFFFFF;
	background-color: #6891ba;
}

#anuTable {
	margin-top: 20px;
	padding-top: 20px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #6891BA;
	border-bottom-color: #6891BA;
}

.anuText {
	display: block;
	padding-bottom: 15px;
	font-family: 'PTSansRegular', sans-serif;
	font-size: 12px;
	color: #6891BA;
	margin-top: 20px;
	padding-top: 5px;
	text-align: left;
	line-height: 1em;
	border-top-width: 0px;
	border-top-style: dotted;
	border-top-color: #6891BA;
	margin-bottom: 10px;
	text-transform: none;
}

#contentTable .content{
	margin: 0px;
	font-size: 16px;
	font-family: 'PTSansNarrowRegular', sans-serif;
	line-height: 21px;
	font-weight: normal;
	font-variant: normal;
	color: #083238;
	text-align: justify;
	padding-top: 0px;
	padding-right: 73px;
	padding-left: 40px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #8DA9CD;
}
#contentTable .content a:link, #contentTable .content a:visited{
	text-decoration: none;
	color: #6891BA;
	font-family: 'OpenSansSemibold', sans-serif;
	font-size: 14px;
}

#contentTable .content a:hover, #contentTable .content a:active{
	text-decoration: none;
	color: #a7a9ac;
}

#contentTable .content h1{
	font-family: 'OswaldLight', sans-serif;
	font-size: 30px;
	color: #6891ba;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6891ba;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	text-align: right;
	text-transform: uppercase;
	font-weight: normal;
	}
	
	#contentTable .content h2{
	font-family: 'OswaldLight', sans-serif;
	font-size: 26px;
	color: #6891ba;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6891ba;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	text-align: right;
	text-transform: uppercase;
	font-weight: normal;
	}


        #contentTable .content h3{
        font-family: 'OswaldLight', sans-serif;
        font-size: 20px;
        color: #6891ba;
        display: block;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #6891ba;
        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 25px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 3px;
        padding-left: 0px;
        text-align: right;
        text-transform: uppercase;
        font-weight: normal;
        }


#contentTable .contentPostScript {
	font-size: 14px;
	text-align: right;
	display: block;
	margin-top: -20px;
	color: #6891ba;
	padding-bottom: 20px;
	}

#contentImageTable {
	padding-bottom: 30px;
}

.contentImageText {
	font-size: 0.9em;
	text-align: left;
	display: block;
	color: #6891ba;
	padding-top: 10px;
	line-height: 1em;
}
.contentListTitleCell {
	padding-bottom: 10px;
	padding-top: 0px;
}
.contentListTitle {
	font-family: 'OswaldBook', sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #ABBBCB;
	display: block;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #ABBBCB;
	padding: 3px;
	padding-top:6px;
	font-size: 18px;
}

.contentListSubtitleCell {
	padding-bottom: 10px;
	padding-top: 2px;
	border-bottom-width: 0px;
	border-bottom-style: dotted;
	border-bottom-color: #ABBBCB;
	margin-bottom: 10px;
}

.contentListSubtitle {
	font-family: 'PTSansNarrowBold', sans-serif;
	white-space: nowrap;
	color: #6C8093;
	text-transform: uppercase;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 1px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #ABBBCB;
	background-color: #E9EDF1;
	display: block;
}

.contentListName {
	padding-right: 20px;
	font-family: 'PTSansNarrowRegular', sans-serif;
	padding-bottom: 10px;
	white-space: nowrap;
	color: #6C8093;
	text-transform: uppercase;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ABBBCB;
}

.contentListData {
	padding-bottom: 10px;
	font-family: 'PTSansNarrowRegular', sans-serif;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ABBBCB;
}

.contentListNameLast {
	padding-right: 20px;
	font-family: 'PTSansNarrowRegular', sans-serif;
	padding-bottom: 25px;
	white-space: nowrap;
	color: #6C8093;
	text-transform: uppercase;
	padding-top: 10px;
	border-bottom: none;
}

.contentListDataLast {
	padding-bottom: 25px;
	font-family: 'PTSansNarrowRegular', sans-serif;
	padding-top: 10px;
	border-bottom: none;
}

.contentListEnd {
	background-color: #E9EDF1;
	height: 20px;
	width: 100%;
}

.backToTop a:link,
.backToTop a:visited,
.backToTop a:hover,
.backToTop a:active {
	font-family: 'PTSansBold', sans-serif!important;
	color: #6891ba!important;
	text-align: right;
	display: block;
	font-size: 12px;
	padding-top: 30px;
	font-weight: normal!important;
}

.footer{
	margin: 0px;
	padding-top: 52px;
	padding-right: 73px;
	padding-bottom: 52px;
	padding-left: 73px;
	background-color: #1F3A68;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.footerLeft {
	width: 210px;
	padding-top: 0px;

}

.footerRight {
	color: #FFFFFF;
	padding-left: 40px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #3E5A91;
}

.footerSponsorsTitle {
	font-family: 'OswaldBold', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	display: block;
	padding-right: 40px;
}

.footerSponsorLinks li{
	font-family: 'PTSansNarrowRegular', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	padding-bottom: 10px;
	list-style-type: none;
	line-height: 12px;
}


/*  Extra classes added by Martin */

.noindent{
/*	padding-left:20px; */
}

.sponsorcell{
	text-align:left;
	padding-top: 5px;
	padding-bottom: 10px;
}

.sponsorcell p{
	font-family: 'OswaldLight', sans-serif;
	font-size: 17px;
	color: #6891ba;
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6891ba;
	margin: 0px;
}
.sponsorcell a:link {
	display: inline;
	border: none !important;
	padding: 0px !important;
}

.sponsorcell a:hover {
	background-color: white !important;
}

p.button {
	display: inline-block;
	width: auto;
	background: #458;
	border-radius: 8px;
	padding: 9px 0px 13px 0px;
	margin: 40px;
}

p.button:hover {
	background: #236;
}


p.button:hover a {
        color: #cfdfff !important;
}

.button a {
	font-size: 1.4em !important;
	color: white !important;
        padding:13px !important;
}

.expand-content {
	display: block;
	overflow: hidden; 
}

.expand-button, .contract-button{
    color: #6891BA;
    display: none;
    font-family: 'OpenSansSemibold', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.bio-column::after {
    display: block;
    content: "";
    clear: both;
}

.bio-left {
    width: 35%;
    float: left;
}

.bio-right {
    width: 60%;
    float: right;
}

.bio-right > p {
    font-style: italic;
}

sup {
    /* superscript without changing line height */
    font-size: initial;
    vertical-align: baseline;
    top: -0.4em;
    position: relative;
}

sub{
    /* subscript without changing line height */
    font-size: initial;
    vertical-align: bottom;
    top: 0.4em;
    position: relative;
}
